@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Gothic+A1&family=Gowun+Dodum&family=Jua&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Saira+Stencil+One&family=Song+Myung&family=Yeon+Sung&display=swap');


:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(225,225,225,.3);
}

*{
    margin: 0; padding: 0;
    /* box-sizing: border-box; */
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
}

body{
    background:var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align:center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    /* height: 100px; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    font-family: "Saira Stencil One", sans-serif;
    font-size: 6rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background:var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 4rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size:2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    display: flex;
}

.header .icons div:hover{
    color: var(--main-color);
}



.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/project1/images/LELABO_main.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 9rem;
    color:#E8D8C4;
    font-family: "Anton", sans-serif;
    font-weight: lighter;
}

.home .content p{
    font-size: 3.2rem;
    line-height: 2;
    padding:1rem 0;
    color:white;
    font-family: "Nanum Pen Script", cursive;
}

.animate__backOutRight:hover{
    animation: infinite;
}

.animate__fadeIn:hover{
    animation: infinite;
}

.explain h1{
    color:  var(--main-color);
}

.explain .box-container article{
    padding: 10px;
    background:black;
}

.explain h2{
    font-size: 3rem;
    font-family: "Jua", sans-serif;
    font-weight: lighter;
    justify-content: start;
    color :white;
}
.explain .box-container article p{
    font-size: 2rem;
    font-family: "Gowun Dodum", sans-serif;
    color: lightgray;
}
.heading-1{
    font-size: 3rem;
    color: lightsteelblue;
    font-family: "Gothic A1", sans-serif;
    font-weight: lighter;
    margin: 2rem;
}
.explain .box-container-1 article{
    padding: 10px;
    margin: 10px;
    background:#E7F6F2;
    width: 300px;
    height: 200px;
    
}
.explain .box-container-1 {
    display: flex;
    flex-wrap: wrap;
}
.explain .box-container-1 h2{
    color: #30475E;
    font-family: "Gowun Dodum", sans-serif;
}

.explain .box-container-1 p{
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.8rem;
    margin: 1rem;
}

.heading-2{
    font-size: 3rem;
    color: lightsteelblue;
    font-family: "Gothic A1", sans-serif;
    font-weight: lighter;
    margin: 2rem;

}

.box-container-2 li{
    font-family: "Gowun Dodum", sans-serif;
    font-size: 3rem;
    color: #0B60B0;
}
.box-container-2 span{
    color:#7D0A0A;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 2.3rem;
    font-weight: bolder;
}
.box-container-2 p{
    font-family: "Gowun Dodum", sans-serif;
    font-size: 2rem;
    color: white;
}









.manifesto .heading{
    color: var(--main-color);
}
.manifesto .row{
    display: contents;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.manifesto .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.manifesto .row .content h3{
    font-size: 7rem;
    color: white;
}
.manifesto .row .content p{
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    line-height: 1;
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
}

.lab .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, lfr));
    gap:1.5rem;
    justify-content: center;
}

.lab .box-container .box{
    /* padding: 5rem; */
    text-align: center;
    border: var(--border);
    height: 500px;
    width: 600px;
    
}

.lab .box-container .box img{
    height: 25rem;
}

.lab .box-container .box img:hover{
    height: 30rem;
}

.lab .box-container .box h3{
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
    font-style:normal;
    font-weight: 100;
    font-family: "Black Han Sans", sans-serif;
}

.lab .box-container .box p{
    color: white;
    font-size: 1.7rem;
    font-family: "Gowun Dodum", sans-serif;
    margin: 3rem;
}

.community .box-container{
    /* display: flex; */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    /* justify-content: center; */
}

.community .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    /* display: flex; */
    /* height: 400px;
    width: 1250px; */
}

.community .box-container .box video{
    width: 500px;
}

.community .box-container .box video:hover{
    width: 800px;
}


.community .box-container .box h1{
    font-size: 3.5rem;
    color:#535C91;
    font-family: "Black Han Sans", sans-serif;
    font-weight:lighter;
}
.community p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-style:normal;
    text-align: center;
    font-family: "Gowun Dodum", sans-serif;
}

.community .box-container-1{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
}

.community .box-container-1 .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    height: 500px;
    width: 500px;
}

.community .box-container-1 .box img{
    height: 200px;
    width: 200px;
}

.community .box-container-1 .box h3{
    color: white;
    font-size: 4rem;
    padding: 1rem 0;
    font-family: "Black Han Sans", sans-serif;
    font-weight: lighter;
}
.community .box-container-1 .box p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-style:normal;
    font-family: "Gowun Dodum", sans-serif;
    margin: 1rem;
}

.allingredients .box-container{
    display: flex; 
    grid-template-columns: repeat(auto-fit, minmax(30rem, lfr));
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allingredients .box-container .box{
    text-align: center;
    border: var(--border);
    display: flex;
    height: 20rem;
    position: relative;
}

.allingredients .box-box{
    display: flex;
}

.allingredients .box-container .box img{
    height: 20rem;
    position: absolute;
    object-fit: cover;
    float: left;
    
}

.allingredients .box-container .box #two:hover{
    opacity: 0;
    cursor: pointer;

}

.allingredients .box-container .box h3{
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
    /* display: flex; */
}
.allingredients .box-container .box p{
    color: white;
    font-size: medium;
    /* display: flex; */
}

.allingredients img{
    float: left;
    margin-right: 1rem;
}


.establish .box-container{
    grid-template-columns: repeat(auto-fit, minmax(30rem, lfr));
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.establish .box-container .box{
    text-align: center;
    border: var(--border);
    display: flex;
    flex-direction: column;
}

.establish .box-container .box img{
    height: 50rem;
}

.establish .box-container .box h3{
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    padding: .8rem 0;
    font-family: "Black Han Sans", sans-serif;
}
.establish .box-container .box p{
    color: white;
    font-size: medium;
    text-align: center;
    font-family: "Gowun Dodum", sans-serif;
    margin: 2rem;
}



.classiccollection .box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
}

.classiccollection .box-container .box{
    padding: 4rem;
    text-align: center;
    border: var(--border);
    /* width: 230px; */
}
.classiccollection .box-container .box img{
    height: 25rem;
    display:flex;
}

.classiccollection .box-container .box h1{
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    font-family: "Anton", sans-serif;
}
.classiccollection .box-container .box h2{
    color: white;
    font-size: 2.5rem;
    font-family: "Gothic A1", sans-serif;
    /* font-weight: lighter; */
}
.classiccollection .box-container .box h3{
    color: white;
    font-size: 1.5rem;
    font-family: "Noto Sans KR", sans-serif;
    margin: 2rem;;

}

.classiccollection .box-container .box .price{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-family: "Nanum Gothic", sans-serif;
}

.classiccollection .box-container .box:hover{
    background:#fff;
}

.classiccollection .box-container .box:hover > *{
    color:var(--black);
}


.shop .row{
    display:flex;
    background:var(--black);
    flex-wrap:wrap;
    gap: 1rem;
}

.shop .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit:cover;
}

.shop .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;

}

.shop .row form h3{
    text-transform:uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.shop .row form .inputBox{
    display:flex;
    align-items:center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.shop .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.shop .row form .inputBox input{
    color:#fff;
    font-size: 1.7rem;
    width: 100%;
    padding: 2rem;
    text-transform: none;
    background: none;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size:2rem;
    color:#fff; 
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share #insta:hover{
    background-color: darksalmon;
}
.footer .share #ssg:hover{
    background-color: red;
}
.footer .share #homepage:hover{
    background-color: lightblue;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 1.3rem;
}

.footer .links a:hover{
    background:var(--main-color);
}












/* media queries*/
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

}

@media (max-width:991px){

    #menu-btn{
        display: inline-block;
    }
    
    .header .navbar{
        position: absolute;
        top:100%; right:-100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
}